config SHIELD_MONA2_R
    def_bool $(shields_list_contains,moNa2_R)
    select ZMK_BEHAVIOR_POINTING_SCROLL

config SHIELD_MONA2_L
    def_bool $(shields_list_contains,moNa2_L)
    select ZMK_BEHAVIOR_POINTING_SCROLL
